Validación XML - DTD I/Ej2/jugadores.dtd

<!-- 
Nombre: [Tu Nombre]
Curso: [Nombre del Curso]
Fecha: [DD/MM/AAAA]
Ejercicio: Jugadores - DTD Externa
-->

<!ELEMENT jugadores (jugador+)>
<!ELEMENT jugador (nombre, apellidos, equipo, edad)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT equipo (ciudad, presidente)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT presidente (nombrePresidente, apellidosPresidente)>
<!ELEMENT nombrePresidente (#PCDATA)>
<!ELEMENT apellidosPresidente (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
